/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400&display=swap');

/* General Setup */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline:0;
    list-style: none;
    border:0;
    text-decoration: none;
}


/* CSS Variables */
:root {
    /* General Colors */
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant:rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255,255, 255, 0.6);



    /* General Container */
    --container-width-lg : 75%;
    --container-width-md: 86%;
    --container--width-sm: 90%;


    /* Transition */
    --transition: all 400ms ease;
}



html {
    scroll-behavior: smooth;
}


body {
    font-family: "Poppins", sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height:1.7;
    background-image: url('../src/assets/images/bg-texture.png') ;
  
}


/* Hidding the Scroll Bar */
::-webkit-scrollbar {
    display: none;
}


/* ==================GENERL STYLES ============================= */

.container {
  
    width: var(--container-width-lg);
    margin:0 auto;
}

/* ==============================CONTAINER ANIMATION ============================= */

/* ===============================CONTAINER ANIMATION END */
h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
  
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light)
}


section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

/* ==========================SCROLL UP CSS ======== =========================== */
.scrollup__container {
    background:rgba(0, 0, 0, 0.3);
    width:max-content;
    aspect-ratio: 1/1;
   
    align-items: center;
    text-align: center;
    display: block;
    padding: 0.2rem 1rem;
    position: fixed;
    left: 95%;
    transform: translate(-95%);
    bottom: 2rem;
    display: flex;
    gap:0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    cursor: pointer;
    transition: var(--transition);
  

}
.scrollup__container:hover {
    background: transparent;
    border:1px solid var(--color-primary);
    backdrop-filter: blur(0px);

}

.scrollup__icon {
    font-size: 1.2rem;
   transition: var(--transition);
}

.scrollup__icon:hover {
    font-size: 1.3rem;
}


/* =============================GENERAL CLASSES========================== */
.text-light {
    color: var(--color-light)
}

.space_bottom {
    margin-bottom: 2rem;
}

.space_top {
    margin-top: 2rem;
}

/* ===============================END OF GENERAL CLASSES ======================== */
a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white)
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--color-white);
    color: var(--color-bg)
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-bg)
}



img {
    display: block;
    width: 100%;
    object-fit: cover;
}




/* Media  Query  */
/* Tablets and Medium Devices */

@media screen and (max-width: 1024px) { 
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}


/* Media  Query  */
/* Small Devices */

@media screen and (max-width: 600px) { 
    .container {
        width: var(--container--width-sm);
    }

    section  > h2 {
        margin-bottom: 2rem;
    }

    .scrollup__container {
        display: none;
    }
}